version: '3.8'

services:
  app:
    build: .
    container_name: nano-banana-app
    restart: always
    ports:
      - "3006:3000" # Porta Externa 3006 -> Interna 3000
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    networks:
      - npm_default

networks:
  npm_default:
    external: true